body{
  background-color: #D5C6FF;
}
.card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}
.card-image-wrapper{
  border-radius: 50%;
  border-bottom: 2px solid #F7DF1E;
  border-top: 2px solid #F7DF1E;
  border-right: 2px solid #F7DF1E;
}
.card-image{
  margin: 2px;
  height: 130px;
  width: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #26235C;
}
